<a href="https://colab.research.google.com/github/leejeongeun97/dataAnalysis/blob/main/ex0409.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##암스트롱 수 출력하기

In [23]:
def is_arm(N):
    num_list=list(str(N))
    cal= int(num_list[0])**3+int(num_list[1])**3+int(num_list[2])**3
    if int(N)== cal   :
        return True
    else :
        return False

for i in range(100,1000):
    if is_arm(i):
        print(f"{i} is armstrong number")

153 is armstrong number
370 is armstrong number
371 is armstrong number
407 is armstrong number

In [27]:
1
def coffeeMachine(coffee1,coffee2,coffee3):

    total = 2500*coffee1+ 3000*coffee2+ 3000*coffee3
    print(f'지불하실 총 금액은 {total:,}원 입니다')

    change = total
    money =0
    while total > money :
        print("-"*30)
        print(f"[지불할 금액:{change:,}]",end="  ")
        money += int(input('돈을 넣어주세요:'))
        change= total-money

        if total <= money : break
        print(f'입력한 금액이 부족합니다. {change:,}를 더 넣어주세요')
    print("-"*30)
    print(f"거스름돈은 {abs(change):,}입니다. \n커피 맛있게 드세요")


print_menu= '''[커피 주문 머신 메뉴]
-------------------------------------
- 아메리카노는  2500원
- 카페라떼는    3000원
- 카페모카는    3000원 입니다
원하시는 커피종류와 잔수를 입력하세요.
-------------------------------------'''

print(print_menu)
coffee1 = int(input('아메리카노 몇잔? '))
coffee2 = int(input('카페라떼  몇잔? '))
coffee3 = int(input('카페모카  몇잔? '))

coffeeMachine(coffee1,coffee2,coffee3)

[커피 주문 머신 메뉴]
-------------------------------------
- 아메리카노는  2500원
- 카페라떼는    3000원
- 카페모카는    3000원 입니다
원하시는 커피종류와 잔수를 입력하세요.
-------------------------------------
아메리카노 몇잔? 1
카페라떼  몇잔? 2
카페모카  몇잔? 1
지불하실 총 금액은 11,500원 입니다
------------------------------
[지불할 금액:11,500]  돈을 넣어주세요:20000
------------------------------
거스름돈은 8,500입니다.
커피 맛있게 드세요

In [ ]:
def is_arm(N):
    num_list=list(str(N))
    cal= int(num_list[0])**3+int(num_list[1])**3+int(num_list[2])**3
    if int(N)== cal   :
        return True
    else :
        return False

for i in range(100,1000):
    if is_arm(i):
        print(f"{i} is armstrong number")

In [33]:
myList=[1,2,3,4,5,6,7,8,9,10]

func= lambda x : str(x) if x%3== 0 else x
mylist = list(map(func,myList))
print(mylist)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [38]:
mylist1=[1,2,3,4,5]
mylist2=[2,4,6,8,10]
func=lambda x,y: x*y
mylist= list(map(func,mylist1,mylist2))
print(mylist)

[2, 8, 18, 32, 50]

In [ ]:
mylist1=[1,2,3,4,5]
mylist2=[2,4,6,8,10]
func=lambda x,y: x*y
mylist= list(map(func,mylist1,mylist2))
print(mylist)