<a href="https://colab.research.google.com/github/leejeongeun97/dataAnalysis/blob/main/ex0404.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#반복문

In [12]:
for _ in range(1,3,1):
 print("test")

print("\n")

for _ in range(3):
 print("test")

print("\n")

for b in ['파','이','썬']:
    print(b)

print("\n")

a=[(1,2),(3,4),(5,6)]
for first,last in a :
    print(first,last )

test
test


test
test
test


파
이
썬
1 2
3 4
5 6

###  한줄에 for

In [28]:
a= list(range(1,11))
print(a)

b= list(range(10,0,-1))
print(b)

for i in a:
    print(i,end=' ')  ##붙여서 출력하고 싶을때

print()
for i in a:
    print(i,end=',')  ##',' 출력하고 싶을때
print("\n")
for i in 'python':
    print(i)
print("\n")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1 2 3 4 5 6 7 8 9 10
1,2,3,4,5,6,7,8,9,10,

p
y
t
h
o
n

##리스트

In [38]:
fruits=['사과','포도','딸기','키위']
for idx, fruit in enumerate(fruits):
    print(idx, fruit)

print("")
idx=0
for fruit in fruits:
    print(idx, fruit)
    idx+=1

0 사과
1 포도
2 딸기
3 키위

0 사과
1 포도
2 딸기
3 키위

In [ ]:
##딕셔너리

In [67]:
dic ={1:'사과',2:'포도'}

for key in dic
    print
for key, value in dic.items():
    print(key,value)

SyntaxError: expected ':' (<ipython-input-67-2a6e270073a8>, line 3)

##집합

In [46]:
for v in {1,2,3,3,4,5,3}:
    print(v)

1
2
3
4
5

In [40]:
for i in range(1,101):
    if i%10 != 0:
        print("%02i"%i, end=',')
    else:
        print(i)

01,02,03,04,05,06,07,08,09,10
11,12,13,14,15,16,17,18,19,20
21,22,23,24,25,26,27,28,29,30
31,32,33,34,35,36,37,38,39,40
41,42,43,44,45,46,47,48,49,50
51,52,53,54,55,56,57,58,59,60
61,62,63,64,65,66,67,68,69,70
71,72,73,74,75,76,77,78,79,80
81,82,83,84,85,86,87,88,89,90
91,92,93,94,95,96,97,98,99,100

###실습1 입력받은 숫자에서 홀수만 더하기

In [49]:
n= int(input('합계를 구할 숫자 입력:'))
hap = 0

for i in range (0,n+1):
    if i%2 != 0:
     hap+=i

print(f'1~{n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력:10
1~10까지 짝수를 제외한 합은: 25

###실습1 입력받은 숫자에서 홀수만 더하기  -- 다른 방식

In [51]:
n= int(input('합계를 구할 숫자 입력:'))
hap = sum([i for i in range(1,n+1,2)])

print(hap)

n= int(input('합계를 구할 숫자 입력:'))
hap = 0


##방법2
for i in range (1,n+1,2):
     hap+=i

print(f'1~{n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력:10
25
합계를 구할 숫자 입력:10
1~10까지 짝수를 제외한 합은: 25

##정오각형 그리기
 - turtle 모듈은 코랩에서 사용할수 없음 다른 곳에서 사용 가능 idle

In [53]:
import turtle
t1= turtle.Pen()
t2= turtle.Pen()

t1.shape('turtle')
t1.color("blue")
t1.pensize(5)

t2.up()
t2.goto(-200,100)
t2.down()

t2.shape('circle')
t2.color("red")
t2.pensize(5)

for _ in range(5):
    t1.forward(100)
    t1.right(72)


for _ in range(4):
    t2.forward(100)
    t2.right(90)

turtle.exitonclick()

TclError: no display name and no $DISPLAY environment variable

##1~100까지 출력

In [58]:
for i in range (1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

'1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100'

In [60]:

print(' '.join([str(i) for i in range (1,101)]))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [83]:
import random

#score = random.sample(range(1,100),5)
#for _ in range(5): score.append(random.randint(1,101))
score = [random.randint(1,100) for _ in range(5)]



for index,i in enumerate(score):
    print(f'{index+1}번 학생 {i}점은 ',end='')
    mess = "합격" if i>=60 else "불합격"
    print(mess)
#    if i >=60 :
#        print("합격입니다")
#    else:
#        print("불합격입니다")

1번 학생 72점은 합격
2번 학생 8점은 불합격
3번 학생 46점은 불합격
4번 학생 42점은 불합격
5번 학생 24점은 불합격

In [114]:
a_list = list(input('괄호:'))
result =0


for i in a_list :
    result+= 1 if i == '(' else  -1
    if result < 0 :
        break

print("성공" if result == 0 else "실패")

# if result == 0 :
#      print("성공")
# else:
#      print("실패")

괄호:()
성공

In [111]:
p_list =[')))()()(((','()()()()())','()(())()()','))(())((','()(()))(','((())())']

for a_list in p_list :
    result = 0
    print(a_list, end=' ')
    for i in a_list :
        result+= 1 if i == '(' else  -1
        if result < 0 :
            break
    print("=> 성공" if result == 0 else "=> 실패")

)))()()((( => 실패
()()()()()) => 실패
()(())()() => 성공
))(())(( => 실패
()(()))( => 실패
((())()) => 성공

In [101]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

##while

In [115]:
a=0
while a<5 :
    print(f'{a}는 5보다 작군요')
    a+=1
print(f'{a}는 5와 같군요')

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5군요

In [116]:
a=0
while True :
    if a>=5:break
    print(f'{a}는 5보다 작군요')
    a+=1
print(f'{a}는 5와 같군요')

0는 5보다 작군요
1는 5보다 작군요
2는 5보다 작군요
3는 5보다 작군요
4는 5보다 작군요
5는 5와 같군요

In [117]:
treeHit=0
while treeHit<10 :
    print(f'나무를 {treeHit+1}번 찍었습니다')
    treeHit+=1
print(f'나무 넘어갑니다')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다