<a href="https://colab.research.google.com/github/leejeongeun97/dataAnalysis/blob/main/ex0402.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'c', 4, 'd', 'b', 'e', 'a'}
{1, 2, 3, 'c', 4, 'd', 'end', 'b', 'e', 'a'}

#3. 컬렉션 자료형

#리스트 생성

In [12]:

import math
a=[1,2,3,4,5]
print(type(a))
print(a)

b=[1,'apple','딸기',3.14,math.pi,max([10,20,30]) ]
print(b)

c=[1,2,a,['사과','딸기'],{'k':'kiwi'}]
print(c)

numlist=[]
for num in range (1,21,2):
  numlist.append(num)
print(numlist)

print(b)
for i in b:
  print(i)

num2=list(range(1,21,2))
print(num2)

<class 'list'>
[1, 2, 3, 4, 5]
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
[1, 2, [1, 2, 3, 4, 5], ['사과', '딸기'], {'k': 'kiwi'}]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 'apple', '딸기', 3.14, 3.141592653589793, 30]
1
apple
딸기
3.14
3.141592653589793
30
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

##리스트 요소에 접근

In [15]:

colors=['빨강','초록','파랑','노랑','검정']
print(colors[0])
print(colors[2:4])
print(colors[::-1])  ##거꾸로

for color in colors:
  print(f'나는 "{color}" 색상을 가장 좋아합니다')

빨강
['파랑', '노랑']
['검정', '노랑', '파랑', '초록', '빨강']
나는 "빨강" 색상을 가장 좋아합니다
나는 "초록" 색상을 가장 좋아합니다
나는 "파랑" 색상을 가장 좋아합니다
나는 "노랑" 색상을 가장 좋아합니다
나는 "검정" 색상을 가장 좋아합니다

##리스트 요소 추가

In [19]:
colors=['빨강','초록','파랑','노랑','검정']
print(colors)

colors.insert(2,'분홍')
print(colors)
colors.append('주황')
print(colors)

['빨강', '초록', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '파랑', '노랑', '검정', '주황']

##리스트 요소 변경하기

In [26]:
colors=['빨강','초록','파랑','노랑','검정']
print(colors)
colors[3]='주황'
print(colors)

colors[1:3]='흰색'
print(colors)

colors[1:3]=['흰색','갈색']
print(colors)

colors[1:4]='흰색'  ##자리가 없으면 그 자리값이 없어짐
print(colors)

['빨강', '초록', '파랑', '노랑', '검정']
['빨강', '초록', '파랑', '주황', '검정']
['빨강', '흰', '색', '주황', '검정']
['빨강', '흰색', '갈색', '주황', '검정']
['빨강', '흰', '색', '검정']

##리스트 요소 삭제하기

In [33]:
colors=['빨강','초록','파랑','노랑','검정','노랑','보라']
print(colors)

colors.pop()
print(colors)

colors.remove('노랑')  ## 첫번째 노랑만 삭제됨
print(colors)

colors.clear()
print(colors)

##리스트 자체 삭제
##del(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑', '보라']
['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['빨강', '초록', '파랑', '검정', '노랑']
[]

##2차원/3차원 리스트 요소 접근

In [44]:
animals=['사자','호랑이','곰',['고양이','강아지',['돌고래','범고래'],'햄스터']]
print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])
print(animals[3][2][0:2])

##요소의 길이
print(len(animals))
print(len(animals[3]))
print(len(animals[3][2]))

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래
['돌고래', '범고래']
4
4
2

##리스트 함수

In [54]:
colors=['빨강','초록','파랑','노랑','검정','노랑','보라']

print(colors)

colors.reverse()
print(colors)

colors.sort() ##가나다 정렬
print(colors)

print(colors.index('파랑'))
print(colors.index('노랑'))  ##젤 앞에 있는 노랑의 index

print(colors.count('노랑'))

##list를 정렬해서 새로운 list생성
newsort= sorted(colors)
print(newsort)

['빨강', '초록', '파랑', '노랑', '검정', '노랑', '보라']
['보라', '노랑', '검정', '노랑', '파랑', '초록', '빨강']
['검정', '노랑', '노랑', '보라', '빨강', '초록', '파랑']
6
1
2
['검정', '노랑', '노랑', '보라', '빨강', '초록', '파랑']

In [58]:
colors=['빨강','초록','파랑','노랑','검정','노랑','보라']
print(colors)
new_colors=['red','green','blue']
print(new_colors)

#colors.extend(new_colors)  //리스트뒤에 추가, +연산자와 같다
#print(colors)

colors += new_colors
print(colors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑', '보라']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', '보라', 'red', 'green', 'blue']

#딕셔너리

In [66]:
dic= dict() ## 빈 딕셔너리 생성
##dic= {} ## 빈 딕셔너리 생성
print(type(dic))

members ={1:'이승철',2:'박정현', 'bts':['지민','RM','뷔','지민']}
print(members)

print(members[2])
print(members['bts'])
print(members['bts'][1])

print(len(members))

<class 'dict'>
{1: '이승철', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민']}
박정현
['지민', 'RM', '뷔', '지민']
RM
3

In [69]:
##키를 통해서 value에 접근할수 있다

members ={1:'이승철',2:'박정현', 'bts':['지민','RM','뷔','지민']}

for key in members:
  print(f"key->{key}, value->{members[key]}")

key->1, value->이승철
key->2, value->박정현
key->bts, value->['지민', 'RM', '뷔', '지민']

##딕셔너리에서 자주 사용하는 함수

In [73]:
members ={1:'이승철',2:'박정현', 'bts':['지민','RM','뷔','지민']}

print(members.keys())
print(members.values())
print(members.items())

for key,value in members.items():
  print(key,value)

dict_keys([1, 2, 'bts'])
dict_values(['이승철', '박정현', ['지민', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('bts', ['지민', 'RM', '뷔', '지민'])])
1 이승철
2 박정현
bts ['지민', 'RM', '뷔', '지민']

In [75]:
members ={1:'이승철',2:'박정현', 'bts':['지민','RM','뷔','지민']}


for value in members.values():
  print(value)

이승철
박정현
['지민', 'RM', '뷔', '지민']

##딕셔너리 요소 추가/수정/삭제

In [82]:
members ={1:'이승철',2:'박정현', 'bts':['지민','RM','뷔','지민']}
print(members)

members[3] ='NCT Dream'
print(members)

members['소속사']=['하이브','SM기획']
print(members)

members[1]='세븐틴'
print(members)

del(members['소속사'])
print(members)

##del(members)  ## 딕셔너리 삭제
print(members)

{1: '이승철', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민']}
{1: '이승철', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민'], 3: 'NCT Dream'}
{1: '이승철', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '세븐틴', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민'], 3: 'NCT Dream'}
{1: '세븐틴', 2: '박정현', 'bts': ['지민', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

# 튜플

In [84]:
##튜플 생성

tup= tuple()
## tup=()   ## 빈 튜플 생성
print(type(tup))

a=[1,2,3,4]
print(a)
print(tuple(a))

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [91]:
tup='사과'
print(type(tup)) #그냥이면  str타입

tup=('사과',) #요소가 하나이상을 때는 맨뒤에 , 추가해서  튜플로 됨
print(type(tup))


print(tup.index('사과'))
print(tup.count('사과'))


a,b= 100,200
a,b= 100,[1,2,3]
print(a,b)
print(type(b))

<class 'str'>
<class 'tuple'>
0
1
100 [1, 2, 3]
<class 'list'>

In [94]:
def nSum(a,b):
  return a+b

nSum(100,200)

300

#집합

In [99]:
a= set() #빈집합
print(type(a))

a={1,2,3,4,2,2,4}  ## 유니크한 값만 남음
print(a)

b=[1,2,3,3,4,5,6,7,8,4,5,6,7]
print(b)
print(set(b))

<class 'set'>
{1, 2, 3, 4}
[1, 2, 3, 3, 4, 5, 6, 7, 8, 4, 5, 6, 7]
{1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
#집합에 요소 추가 삭제
S= {1,2,3,'a','b'}
print(S)
S.add('c')  ##집합에는 순서가 없다, index 가 없다
print(S)
S.update(['d','e',4])
print(S)
S.update('apple')   ##apple이 각 알파벳에 따라 중복되지 않게 들어감
print(S)
S.discard('c')
print(S)
S.discard('apple')  ##이건 apple이 통으로 요소로 작용함
print(S)
S.remove('d')
print(S)
S.pop()
print(S)
S.clear()
print(S)

{1, 2, 3, 'a', 'b'}
{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'c', 4, 'd', 'b', 'e', 'a'}
{1, 2, 3, 'c', 4, 'd', 'p', 'b', 'e', 'a', 'l'}
{1, 2, 3, 4, 'd', 'p', 'b', 'e', 'a', 'l'}
{1, 2, 3, 4, 'd', 'p', 'b', 'e', 'a', 'l'}
{1, 2, 3, 4, 'p', 'b', 'e', 'a', 'l'}
{2, 3, 4, 'p', 'b', 'e', 'a', 'l'}
set()

##set 교집합, 합집합, 차집합

In [122]:
s1={2,4,6,8,10}
s2={1,2,3,4,5}
s= s1 & s2
print(s)
print(s1.intersection(s2))

s= s1|s2
print(s)
print(s1.union(s2))

s= s1-s2
print(s)
print(s1.difference(s2))

s= s2-s1
print(s)
print(s2.difference(s1))

s1.intersection_update(s2)  ##교집합한 결과를  s1에 저장해 버림
print(s1)

{2, 4}
{2, 4}
{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{8, 10, 6}
{8, 10, 6}
{1, 3, 5}
{1, 3, 5}
{2, 4}