<a href="https://colab.research.google.com/github/leejeongeun97/dataAnalysis/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= 1 #number
b='파이썬'  #string
#print(a+b)

###파이썬 버전 출력

#물리적 폴더 위치

In [ ]:
!python -V

Python 3.10.12

In [ ]:
import sys

print('---',sys.version)
sys.version

##파이썬 설치 위치
print(sys.executable)

--- 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]
/usr/bin/python3

'/content'

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
10%5

0

###✓ 문제1: 10 + 3 x 4 결과 출력
###✓ 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
###✓ 문제3: 주어진 임의의 자연수가 홀수인지 짝수인지 판별하는 방법은?
###✓ 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:

print('2''^''3''*''5''^''4''*''3''^''4')

2^3*5^4*3^4

In [ ]:
print(2**3*5**4*3**4)

405000

In [ ]:
print(10+3*4)
print(15*130)

a=int(input("숫자를 입력해주세요"))
if a%2 == 0 :
  print("짝수입니다")
else:
  print("홀수입니다")

22
1950
숫자를 입력해주세요3
홀수입니다

## 1. 파이썬 자료형과 연산

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'{d1}의 자료형: {type(d1)}')
print(f'{d2}의 자료형: {type(d2)}')
print(f'{d3}의 자료형: {type(d3)}')
print(f'{d4}의 자료형: {type(d4)}')
print(f'{d5}의 자료형: {type(d5)}')
print(f'{d6}의 자료형: {type(d6)}')
print(f'{d7}의 자료형: {type(d7)}')

print(f'{d1}의 자료형: {type(d1)}')

123의 자료형: <class 'int'>
123의 자료형: <class 'str'>
[123]의 자료형: <class 'list'>
(123,)의 자료형: <class 'tuple'>
{'key': 123}의 자료형: <class 'dict'>
{123}의 자료형: <class 'set'>
True의 자료형: <class 'bool'>
123의 자료형: type(d1)

In [ ]:
print(type(123))
print(type(3.123))
print(type("123"))
print(type([123]))
print(type((123,)))
print(type({'123':123}))
print(type({123}))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

##2.표준 입출력

In [ ]:
a= input('키보드로 숫자를 입력해 주세요:')
print( type(a))

b= int(a)
print( type(b))

키보드로 숫자를 입력해 주세요:2
<class 'str'>
<class 'int'>

In [ ]:
print(type(int(input("입력해주세요"))))

입력해주세요3
<class 'int'>

In [ ]:
a= input('키보드로 숫자를 입력해 주세요')
print('변수 a에 기억된 값은',a,'입니다')
print('변수 a에 기억된 값은 %s 입니다'%a)
print(f'변수 a에 기억된 값은 {a} 입니다')

키보드로 숫자를 입력해 주세요사과
변수 a에 기억된 값은 사과 입니다
변수 a에 기억된 값은 사과 입니다
변수 a에 기억된 값은 사과 입니다

In [ ]:
a=int(input("첫번재 숫자:"))
b=int(input("두번재 숫자:"))

print("")
print(f'덧셈:{a}+{b}={a+b:13}')
print(f'뺄셈:{a}-{b}={a-b:13}')
print(f'곱셈:{a}*{b}={a*b:13}')
print(f'몫:{a}//{b}={a//b:13}')
print(f'나머지:{a}%{b}={a%b:13}')

첫번재 숫자:50
두번재 숫자:3

덧셈:50+3=           53
뺄셈:50-3=           47
곱셈:50*3=          150
몫:50//3=           16
나머지:50%3=            2

In [ ]:
s=input("문자를 입력하세요")
print(f'값은 {s:<10}')  ##오른쪽 정렬  : 자릿수
print(f'값은 {s:>10}')  ##왼쪽 정렬
print(f'값은 {s:^10}')    ##중간 정렬

문자를 입력하세요강아지
값은 강아지
값은        강아지
값은    강아지

In [ ]:
velocity= float(input('속력을 입력해 주세요(km/h):'))
distance= float(input('거리을 입력해 주세요(km):'))

print('-"*30')
print(f'속력  :  {velocity} km/h')
print(f'거리  :  {distance} km')
print(f'시간  :  {distance/velocity} h')

속력을 입력해 주세요(km/h):100
거리을 입력해 주세요(km):340
-"*30
속력  :  100.0 km/h
거리  :  340.0 km
시간  :  3.4 h

In [ ]:
### 내장된 수학함수

In [ ]:
import math

print(f'반지금이 4인 원의 넓이 출력:  {math.pi*math.pow(4,2)}')
a= round((round(math.pi,2)*2/7))
print(f'3.14 곱하기 2나누기 7의 값을 반올림하여 계산 결과 출력: {a}')
b=round(math.pi,2)*4*2
print(f'원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력: {b}')

반지금이 4인 원의 넓이 출력:  50.26548245743669
3.14 곱하기 2나누기 7의 값을 반올림하여 계산 결과 출력: 1
원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력: 25.12

In [ ]:
import math

print(f'원주율:  {math.pi}')
print(f'절대값: {abs(-20)}')
print(f'반올림: {round(math.pi,3)}')

원주율:  3.141592653589793
절대값: 20
반올림: 3.142

In [3]:
a= input('정수를 입력하세요(1~9):')
a= int(a)
a10= a*10+a
a100= a*100+a10
sum=a+a10+a100
print(f'{a}+{a10}+{a100}={sum}')

정수를 입력하세요(1~9):3
3+33+333=369

TypeError: 'str' object is not callable